.imagenes{
    max-width: 350px;
    max-height: 350px;
    border-radius: 1em;
    align-items: center;
    
}

.producto{
    margin-top: 40px;
    width: 400px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    padding-bottom: 5px;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    
}
.precioboton{
    display: flex;
    flex-direction: row-reverse;
    align-content: space-between;
    flex-wrap: wrap;
}

h3{
    color: #f06292;
    margin-left: 10px;
    
}
.boton{
    
    width: 120px;
    margin-left: 10px;
    border-radius: 2em;
    margin-right: 110px;
    margin-top: 10px;
    border:0px;
    background-color: #f06292;
    color: white;
    height: 35px;
    text-transform: uppercase;   
}
