body{
    font-family: 'Montserrat', sans-serif;
    
    background-color:snow;
    /* display: inline-block; */
}

.contenedor_producto{
    padding-top: 80px;
    padding-bottom: 70px;
    padding-left: 20%;
    width: 40%;
    float: left;
    align-content: center;
    
}
.listaProducto{
    color: #acacac;
}